.brady {
	background-position: 0px 0px, 55px 55px;  
		background-size: 110px 110px; 
		background-color: rgb(200, 211, 167);
		animation: bradyBunch-radiate 5s infinite;
		-webkit-animation: webkit-bradyBunch-radiate 5s infinite;
		-moz-animation: moz-bradyBunch-radiate 5s infinite;
		-o-animation: o-bradyBunch-radiate 5s infinite;
		background-image: 
		radial-gradient(closest-side,  
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
		radial-gradient(closest-side, 
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%);
}

@keyframes bradyBunch-radiate {
	0% {
		background-image: 
		radial-gradient(closest-side,  
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
		radial-gradient(closest-side, 
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
	}
	50% {
		background-image: 
		radial-gradient(closest-side, 
						transparent 0%, 
						transparent 75%, 
						rgb(182, 204, 102) 76%,
						rgb(182, 204, 102) 85%, 
						rgb(237, 255, 219) 86%, 
						rgb(237, 255, 219) 94%, 
						rgb(255, 255, 255) 95%, 
						rgb(255, 255, 255) 103%, 
						rgb(217, 230, 167) 104%, 
						rgb(217, 230, 167) 112%, 
						rgb(121, 139, 60) 113%, 
						rgb(121, 139, 60) 121%, 
						rgb(255, 255, 255) 122%, 
						rgb(255, 255, 255) 130%, 
						rgb(224, 234, 215) 131%, 
						rgb(224, 234, 215) 140%), 
		radial-gradient(closest-side, 
						transparent 0%, 
						transparent 75%, 
						rgb(182, 204, 102) 76%, 
						rgb(182, 204, 102) 85%, 
						rgb(237, 255, 219) 86%, 
						rgb(237, 255, 219) 94%, 
						rgb(255, 255, 255) 95%, 
						rgb(255, 255, 255) 103%, 
						rgb(217, 230, 167) 104%, 
						rgb(217, 230, 167) 112%,
						rgb(121, 139, 60) 113%, 
						rgb(121, 139, 60) 121%, 
						rgb(255, 255, 255) 122%, 
						rgb(255, 255, 255) 130%, 
						rgb(224, 234, 215) 131%, 
						rgb(224, 234, 215) 140%); 
	}
	100% {
		background-image: 
		radial-gradient(closest-side,  
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
		radial-gradient(closest-side, 
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
	}
}


@-webkit-keyframes webkit-bradyBunch-radiate {
	0% {
		background-image: 
		radial-gradient(closest-side,  
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
		radial-gradient(closest-side, 
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
	}
	50% {
		background-image: 
		radial-gradient(closest-side, 
						transparent 0%, 
						transparent 75%, 
						rgb(182, 204, 102) 76%,
						rgb(182, 204, 102) 85%, 
						rgb(237, 255, 219) 86%, 
						rgb(237, 255, 219) 94%, 
						rgb(255, 255, 255) 95%, 
						rgb(255, 255, 255) 103%, 
						rgb(217, 230, 167) 104%, 
						rgb(217, 230, 167) 112%, 
						rgb(121, 139, 60) 113%, 
						rgb(121, 139, 60) 121%, 
						rgb(255, 255, 255) 122%, 
						rgb(255, 255, 255) 130%, 
						rgb(224, 234, 215) 131%, 
						rgb(224, 234, 215) 140%), 
		radial-gradient(closest-side, 
						transparent 0%, 
						transparent 75%, 
						rgb(182, 204, 102) 76%, 
						rgb(182, 204, 102) 85%, 
						rgb(237, 255, 219) 86%, 
						rgb(237, 255, 219) 94%, 
						rgb(255, 255, 255) 95%, 
						rgb(255, 255, 255) 103%, 
						rgb(217, 230, 167) 104%, 
						rgb(217, 230, 167) 112%,
						rgb(121, 139, 60) 113%, 
						rgb(121, 139, 60) 121%, 
						rgb(255, 255, 255) 122%, 
						rgb(255, 255, 255) 130%, 
						rgb(224, 234, 215) 131%, 
						rgb(224, 234, 215) 140%); 
	}
	100% {
		background-image: 
		radial-gradient(closest-side,  
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
		radial-gradient(closest-side, 
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%);
	}
}


@-moz-keyframes moz-bradyBunch-radiate {
	0% {
		background-image: 
		radial-gradient(closest-side,  
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
		radial-gradient(closest-side, 
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
	}
	50% {
		background-image: 
		radial-gradient(closest-side, 
						transparent 0%, 
						transparent 75%, 
						rgb(182, 204, 102) 76%,
						rgb(182, 204, 102) 85%, 
						rgb(237, 255, 219) 86%, 
						rgb(237, 255, 219) 94%, 
						rgb(255, 255, 255) 95%, 
						rgb(255, 255, 255) 103%, 
						rgb(217, 230, 167) 104%, 
						rgb(217, 230, 167) 112%, 
						rgb(121, 139, 60) 113%, 
						rgb(121, 139, 60) 121%, 
						rgb(255, 255, 255) 122%, 
						rgb(255, 255, 255) 130%, 
						rgb(224, 234, 215) 131%, 
						rgb(224, 234, 215) 140%), 
		radial-gradient(closest-side, 
						transparent 0%, 
						transparent 75%, 
						rgb(182, 204, 102) 76%, 
						rgb(182, 204, 102) 85%, 
						rgb(237, 255, 219) 86%, 
						rgb(237, 255, 219) 94%, 
						rgb(255, 255, 255) 95%, 
						rgb(255, 255, 255) 103%, 
						rgb(217, 230, 167) 104%, 
						rgb(217, 230, 167) 112%,
						rgb(121, 139, 60) 113%, 
						rgb(121, 139, 60) 121%, 
						rgb(255, 255, 255) 122%, 
						rgb(255, 255, 255) 130%, 
						rgb(224, 234, 215) 131%, 
						rgb(224, 234, 215) 140%); 
	}
	100% {
		background-image: 
		radial-gradient(closest-side,  
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
		radial-gradient(closest-side, 
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%);
	}
}


@-o-keyframes o-bradyBunch-radiate {
	0% {
		background-image: 
		radial-gradient(closest-side,  
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
		radial-gradient(closest-side, 
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
	}
	50% {
		background-image: 
		radial-gradient(closest-side, 
						transparent 0%, 
						transparent 75%, 
						rgb(182, 204, 102) 76%,
						rgb(182, 204, 102) 85%, 
						rgb(237, 255, 219) 86%, 
						rgb(237, 255, 219) 94%, 
						rgb(255, 255, 255) 95%, 
						rgb(255, 255, 255) 103%, 
						rgb(217, 230, 167) 104%, 
						rgb(217, 230, 167) 112%, 
						rgb(121, 139, 60) 113%, 
						rgb(121, 139, 60) 121%, 
						rgb(255, 255, 255) 122%, 
						rgb(255, 255, 255) 130%, 
						rgb(224, 234, 215) 131%, 
						rgb(224, 234, 215) 140%), 
		radial-gradient(closest-side, 
						transparent 0%, 
						transparent 75%, 
						rgb(182, 204, 102) 76%, 
						rgb(182, 204, 102) 85%, 
						rgb(237, 255, 219) 86%, 
						rgb(237, 255, 219) 94%, 
						rgb(255, 255, 255) 95%, 
						rgb(255, 255, 255) 103%, 
						rgb(217, 230, 167) 104%, 
						rgb(217, 230, 167) 112%,
						rgb(121, 139, 60) 113%, 
						rgb(121, 139, 60) 121%, 
						rgb(255, 255, 255) 122%, 
						rgb(255, 255, 255) 130%, 
						rgb(224, 234, 215) 131%, 
						rgb(224, 234, 215) 140%); 
	}
	100% {
		background-image: 
		radial-gradient(closest-side,  
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%),
		radial-gradient(closest-side, 
						rgb(182, 204, 102) 0%,
						rgb(182, 204, 102) 9%, 
						rgb(237, 255, 219) 10%, 
						rgb(237, 255, 219) 19%, 
						rgb(255, 255, 255) 20%, 
						rgb(255, 255, 255) 27%, 
						rgb(217, 230, 167) 28%, 
						rgb(217, 230, 167) 36%, 
						rgb(121, 139, 60) 37%, 
						rgb(121, 139, 60) 45%, 
						rgb(255, 255, 255) 46%, 
						rgb(255, 255, 255) 54%, 
						rgb(224, 234, 215) 55%, 
						rgb(224, 234, 215) 64%,
						transparent 65%, 
						transparent 140%);
	}
}




